:root{
    --base-font-size: 15px;
    --main-font-color:#4D4F62;
    --main-para-color: #a3a5ae;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    color: var(--main-font-color);
}
.header-section{
width: 50%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
padding-block-start: 5%;
}
#header-thin{
    font-weight: 200;
}
#header-thin,#header-bold{
    font-size:clamp(12px,calc(var(--base-font-size)*2.4), 35px);
    text-align: center;
}
#header-para{
    font-weight: 200;
    text-align: center;
    width: 70%;
    font-size:clamp(calc(10px,var(--base-font-size)*1 + 0.2vw),28px);
    color: var(--main-para-color);
}
.box-grid{
    display: grid;
    grid-template-rows: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);
    grid-row-gap: 30px;
    grid-column-gap:30px;
    width: 80%;
    margin: auto;
    margin-block-start: -5%;
    padding-inline-start: 5% ;
}

.grid-box{
    position: relative;
    grid-column: span 5;
    grid-row: span 4;
    padding-block-start: 10px;
    padding-inline-start: 10px;
    border-radius: 10px;
    box-shadow: 0.1px 4px 25px rgba(0,0,0,0.15);
}
#box1{
    grid-column: 1 / 6;
    grid-row: 5 / 9;
    border-block-start: 4px solid #44d3d2;

}
#box2{
    grid-column: 6 / 11;
    grid-row: 3 / 7;
    border-block-start: 4px solid #EA5454 ;
}
#box3{
    grid-column: 6 / 11;
    grid-row: 7 / 11;
    border-block-start: 4px solid #FCAE4A;
}
#box4{
    grid-column: 11 / 16 ;
    grid-row: 5 / 9;
    
    border-block-start: 4px solid #549EF2;
}
.box-header{
    font-size: calc(var(--base-font-size)*1.2+ 1.5vw);
    font-weight: 600;
}
.box-para{
    font-size: calc(var(--base-font-size)*1.1+ 1.5vw);
    font-weight: 400;
    color: var(--main-para-color);
}
.box-icon{
    position: relative;
    margin-block-start: 25%;
    padding-block-end: 20px;
    margin-inline-start: 75%;
    margin-inline-end: 1rem;
}
/* Responsive design breakpoint layouts*/
@media(max-width: 1300px){
    .box-grid{
        grid-template-columns: repeat(24,1fr);

    }
    .grid-box{
        grid-column: span 8;
    }
    #box1{
        grid-column: 1/9;
    }
    #box2{
        grid-column: 9 / 17;
    }
     #box3{
        grid-column: 9 / 17;
    }
      #box4{
        grid-column: 17/25;
    }

}

@media(max-width: 1100px){
    .header-section{
        width: 100%;
    }
    #header-para{
        width: 100%;

    }
      .box-grid{
        grid-template-columns: repeat(34,1fr);

    }
    .grid-box{
        grid-column: span 11;
    }
    #box1{
        grid-column: 1/12;
    }
    #box2{
        grid-column: 13 / 24;
    }
     #box3{
        grid-column: 13 / 24;
    }
      #box4{
        grid-column: 24/35;
    }

}

/* Mobile Layout*/
@media (max-width: 600px) {
    .header-section{
        width: 100%;
    }
    #header-para{
        width: 100%;

    }
  .box-grid {
    grid-template-rows:    repeat(20, 1fr);
    grid-template-columns: repeat(5,  1fr);
    grid-row-gap: 5px;
    margin-block-start: 10%;
  }

  #box1 {
    grid-column: 1 / 6;
    grid-row:    1 / 5;
  }
  #box2 {
    grid-column: 1 / 6;
    grid-row:    6 / 10;
  }
  #box3 {
    grid-column: 1 / 6;
    grid-row:    11 / 15;
  }
  #box4 {
    grid-column: 1 / 6;
    grid-row:    16 / 20;
  }
}